[Unit]
Description=LLLED smart LED controller
Documentation=https://github.com/BearHero520/LLLED
After=local-fs.target network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ugreen-led-controller
ExecStart=/opt/ugreen-led-controller/scripts/led_daemon.sh run
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
TimeoutStopSec=15
KillSignal=SIGTERM
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
RuntimeDirectory=llled
RuntimeDirectoryMode=0755
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ugreen-led-monitor

[Install]
WantedBy=multi-user.target
